<div class="flex gap-x-1"> 
    <a class="uk-button uk-button-primary uk-button-small" href="/docs/introduction">Documentation</a>
    <a class="uk-button uk-button-default uk-button-small gap-x-2" href="https://github.com/franken-ui" target="_blank">Github</a>
    <div class="uk-inline">
        <button class="uk-icon-button uk-icon-button-small uk-icon-button-outline">
            <uk-icon icon="palette" uk-cloak></uk-icon>
        </button>
        <div class="uk-card uk-card-body uk-card-default uk-drop uk-width-large" uk-drop="mode: click; offset: 8; pos: bottom-center">
            <div class="uk-card-title uk-margin-medium-bottom">Customize</div>
            <uk-theme-switcher></uk-theme-switcher>
        </div>
    </div>
</div> 