<div class="overflow-hidden">
    <ul class="uk-subnav uk-subnav-secondary -mb-10 flex-nowrap overflow-x-auto pb-10">
        <li class=""> <a class="h-7" href="/examples/mail"> Mail </a> </li>
        <li class=""> <a class="h-7" href="/examples/dashboard"> Dashboard </a> </li>
        <li class="uk-active"> <a class="h-7" href="/examples/cards"> Cards </a> </li>
        <li class=""> <a class="h-7" href="/examples/task"> Task </a> </li>
        <li class=""> <a class="h-7" href="/examples/playground"> Playground </a> </li>
        <li class=""> <a class="h-7" href="/examples/forms"> Forms </a> </li>
        <li class=""> <a class="h-7" href="/examples/music"> Music </a> </li>
        <li class=""> <a class="h-7" href="/examples/authentication"> Authentication </a> </li>
    </ul>
</div>