@page "/examples/mail"

<div class="grid min-h-40 grid-cols-1 gap-y-8 pt-8 lg:grid-cols-2">
    <div class="space-y-4"> 
        <h1 class="uk-heading-small font-bold">Mail</h1> 
        <p class="font-light"> A modern email interface displaying inbox with various folders and messages. This sleek design is powered by HTMX and also available in dark mode. </p> 
        <ActionUtilities/>
    </div>
</div>

<div class="mt-8">
    <NavBar />

    <div class="p-8">
        
        <p>TBD</p>


        <div data-lastpass-root=""
            style="position: absolute !important; top: 0px !important; left: 0px !important; height: 0px !important; width: 0px !important;">
        </div>
    </div>
</div>

