@page "/examples/playground"

<div class="grid min-h-40 grid-cols-1 gap-y-8 pt-8 lg:grid-cols-2">
    <div class="space-y-4"> 
        <h1 class="uk-heading-small font-bold">Playground</h1> 
        <p class="font-light"> Intuitive interface for text generation, with customizable settings on the right. Useful for building AI-driven creative writing user interfaces. </p> 
        <ActionUtilities/>
    </div>
</div>

<div class="mt-8">
    <NavBar />

    <div class="p-8">
        
        <p>TBD</p>


        <div data-lastpass-root=""
            style="position: absolute !important; top: 0px !important; left: 0px !important; height: 0px !important; width: 0px !important;">
        </div>
    </div>
</div>

