@inherits LayoutComponentBase

<main class="flex min-h-screen flex-col">
    <div class="flex-1">
        <div class="uk-container uk-container-xlarge">
            @Body
        </div>
    </div>
</main>
